@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2314 0.0638 281.5081);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2314 0.0638 281.5081);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2314 0.0638 281.5081);
  --primary: oklch(0.5826 0.1837 38.5653);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.2314 0.0638 281.5081);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9779 0.0042 56.3756);
  --accent-foreground: oklch(0.2314 0.0638 281.5081);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.929 0.0126 255.5317);
  --input: oklch(0.929 0.0126 255.5317);
  --ring: oklch(0.7119 0.0129 286.0684);
  --chart-1: oklch(0.6994 0.1764 41.7356);
  --chart-2: oklch(0.2358 0.0044 286.0605);
  --chart-3: oklch(0.6804 0.1291 240.1144);
  --chart-4: oklch(0.8094 0.165 80.0435);
  --chart-5: oklch(0.75 0.1561 65.0797);
  --radius: 0.5rem;
  --sidebar: oklch(0.9848 0 0);
  --sidebar-foreground: oklch(0.2314 0.0638 281.5081);
  --sidebar-primary: oklch(0.5826 0.1837 38.5653);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9684 0.0068 247.8951);
  --sidebar-accent-foreground: oklch(0.2314 0.0638 281.5081);
  --sidebar-border: oklch(0.929 0.0126 255.5317);
  --sidebar-ring: oklch(0.7119 0.0129 286.0684);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.05;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: 0;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.03);
  --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.03);
  --shadow-sm: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.13);
  --tracking-normal: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --font-serif: "Playfair Display", serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dark {
  --background: oklch(0.2358 0.0044 286.0605);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.2358 0.0044 286.0605);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.2358 0.0044 286.0605);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.6994 0.1764 41.7356);
  --primary-foreground: oklch(0.1543 0.0026 286.0873);
  --secondary: oklch(0.2884 0.0081 285.8838);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.28 0.0369 259.974);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.28 0.0369 259.974);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.28 0.0369 259.974);
  --input: oklch(0.28 0.0369 259.974);
  --ring: oklch(0.8688 0.0198 252.8472);
  --chart-1: oklch(0.6994 0.1764 41.7356);
  --chart-2: oklch(0.2358 0.0044 286.0605);
  --chart-3: oklch(0.6804 0.1291 240.1144);
  --chart-4: oklch(0.8094 0.165 80.0435);
  --chart-5: oklch(0.75 0.1561 65.0797);
  --radius: 0.5rem;
  --sidebar: oklch(0.2358 0.0044 286.0605);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.6994 0.1764 41.7356);
  --sidebar-primary-foreground: oklch(0.1543 0.0026 286.0873);
  --sidebar-accent: oklch(0.28 0.0369 259.974);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.28 0.0369 259.974);
  --sidebar-ring: oklch(0.8688 0.0198 252.8472);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.05;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: 0;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.03);
  --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.03);
  --shadow-sm: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.13);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  button:not([disabled]) {
    cursor: pointer;
  }
}
